################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlockStacker/v15/Server/sqlite3
/BlockStacker/obj/Debug
/.vs/BlockStacker/v15/.suo
